.title {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 7px;
    padding-left: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    font-style: normal;
    font-family: Roboto;
    font-weight: 600;
    font-size: 20px;
    line-height: 39px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}