.container_h {
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease;
}

.container_h:hover {
  transform: scale(1.03);
  box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.08);
}
.container_v {
  cursor: pointer;
  width: 200px;
  position: relative;
  transition: transform 0.3s ease;
}
.container_v:hover {
  transform: scale(1.03);
  box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.08);
}
.img {
  border-radius: 10px;
}

.title {
  position: absolute;
  margin-top: -40px;
  height: 40px;

  padding-left: 20px;
  padding-top: 8px;
  padding-right: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
