.input {
    border-radius: 30px;
    background-color: #d9d9d96e;
    height: 60px;
    padding: 20px;
    color: white;
    width: 100%;
    font-style: normal;
    font-weight: 100;
    font-size: 26px;
}

input::placeholder {
    color: rgb(194, 194, 194);
}