html {
  --dark-bg: #0e1221;
  --light-text: white;
  --light-bg: #white;
  --dark-text: #0e1221;
}

body {
  color: white;
  font-family: Maximum Impact;
  background-color: rgba(0, 0, 0, 0.934);
}

::-webkit-scrollbar {
  background: transparent;
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: rgba(0, 0, 0, 0.61);
  border-radius: 10px;
}
