.main_container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 25px;

}

.header {
  flex: 2;
  background-color: blue;
}

.tv_show_details {
  flex: 4;
  background-color: red;
}

.recommended_shows {
  flex: 2;
  background-color: green;
}
