.list_container:hover {
    overflow: overlay;

}

.list_container {
    display: flex;
    overflow: hidden;
    margin-left: -50px;
    width: 100vw;

}

.tvShow_list_title {
    font-style: normal;
    font-family: Roboto;
    font-weight: 600;
    font-size: 20px;
    line-height: 39px;
    margin-top: 15px;
    margin-bottom: 15px;
}